body{
    height: 100vh;
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
}

#logo-ad{
    margin-top: 8%;
    margin-left: 11%;
}

#menu{
    display: flex;
    justify-content: baseline;
    background-color: aliceblue;
    list-style: none;
    margin-left: 10%;
    margin-top: -10%;

}
/*Chama apenas os intes da lista com o id menu*/
#menu li{
    margin-left: 3%;
}
/*Chama apenas os links e tira os sublianhados e decoracoes deles*/
a{
    text-decoration: none;
}